<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
<!-- Description and image -->
  <div fxFlex="40" *ngIf="dish">
<!--  <div fxFlex="40">  -->
    <md-card>
            <md-card-header>
              <md-card-title>
                <h3>{{ dish.name | uppercase}} </h3>
              </md-card-title>
              </md-card-header>
              <img md-card-image src={{dish.image}} alt={{dish.name}}>
              <md-card-content>
                <p> {{dish.description}}</p>
              </md-card-content>
              <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
              </md-card-actions>
    </md-card>
  </div>
<!-- Comments and rating -->
  <div fxFlex="40" *ngIf="dish">


    <md-grid-list cols="1" rowHeight="100px">
      <h2> Comments</h2>


      <md-grid-tile *ngFor="let comm of dish.comments">
          {{comm.comment}}<br>
          {{comm.rating}} Stars<br>
          -- {{comm.author}}  {{comm.date | date}}<br>  <!-- day out by one here!-->
      </md-grid-tile>

  </md-grid-list>

  </div>

</div>
